:root {
    --color-white: #fff;
    --color-black: #333;
    --color-blue-1: #0B2447;
    --color-blue-2: #19376D;
    --color-blue-3: #576CBC;
    --color-blue-4: #A5D7E8;
    --color-purple-1: #543864;
    --color-purple-2: #8B4367;
    --color-purple-3: #FF6464;
    --color-teal-blue: #008080;
    --color-dark-slate-gray: #2F4F4F;
    --color-orange: #E83A14;
    --color-light-orange: #FF8C32;
    --color-supreme-orange: #EA871E;
    --color-yellow: #F7DE3A;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* btn */
.my-btn {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.my-btn.my-btn-disabled {
    opacity: 0.6;
    cursor: default;
}

.my-btn.my-btn-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* film-item */
.film-item {

}

.film-item-inner {

}

.film-item__main {
    position: relative;
}

.film-item__thumb {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    width: 100%;
    padding-top: calc(100% / 0.7); /* w/h ~ 0.7 */
    overflow: hidden;
}

.film-item__thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: top;
    object-fit: contain;
    transition: all 0.3s ease;
}

.film-item:hover .film-item__thumb-img {
    transform: scale(1.05);
    filter: blur(2px);
    cursor: pointer;
}


.film-item__label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
    background-image: linear-gradient(90deg, var(--color-blue-2), var(--color-blue-3));
    color: var(--color-white);
    border-radius: 0 4px 4px 0;
    height: 1.5rem;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.film-item__label-item {
    position: relative;
}

.film-item__label-item + .film-item__label-item {
    margin-left: 6px;
}

.film-item__label-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.4);
}

.film-item__bookmark {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--color-blue-2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film-item:hover .film-item__bookmark {
    opacity: 1;
}

.film-item__bookmark-icon {
    font-size: 0.85rem;
    line-height: 1rem;
    color: var(--color-blue-4);
}

.film-item__bookmark:hover {
    cursor: pointer;
}

.film-item__bookmark:hover .film-item__bookmark-icon {
    color: var(--color-supreme-orange);
}

.film-item__rating {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    background-image: linear-gradient(90deg, var(--color-blue-2), var(--color-blue-3));
    border-radius: 4px;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film-item:hover .film-item__rating {
    opacity: 1;
}

.film-item__rating-icon {
    color: var(--color-blue-4);
}

.film-item__rating-num,
.film-item__rating-NA {
    color: var(--color-white);
}

.film-item__rating-NA {
    display: none;
}

.film-item__rating.film-item__rating--not-available .film-item__rating-num {
    display : none;
}

.film-item__rating.film-item__rating--not-available .film-item__rating-NA {
    display : inline;   
}

.film-item__rating-num {

}

.film-item__rating-total {
}

.film-item__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.film-item:hover .film-item__play-btn {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.film-item__play-btn-icon {
    font-size: 2rem;
    line-height: 1;
}

.film-item__desc {
    color: var(--color-white);
    margin-top: 0.25rem;
}

.film-item__title {
    font-size: 0.9rem;
    line-height: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.film-item:hover .film-item__title {
    color: var(--color-blue-3);
    cursor: pointer;
}

.film-item__subtitle {
    margin-top: 2px;
    font-size: 0.65rem;
    line-height: 0.8rem;
    height: 0.8rem;
    opacity: 0.7;
}

.film-item__subtitle-item {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.to-top-btn {
    position: fixed;
    right: 1.3rem;
    bottom: 1.6rem;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
}

.to-top-btn.active {
    display: block;
}

.to-top-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.to-top-btn::before,
.to-top-btn::after {
    --to-top-color: var(--color-supreme-orange);
    display: block;
    position: absolute;
}

.to-top-btn::before {
  content: '';
  top: 12px;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 0 solid var(--to-top-color);
  border-width: 4px 4px 0 0;
  transform: translateX(-50%) rotate(-45deg);
}

.to-top-btn::after {
  content: '';
  left: 50%;
  top: 15px;
  width: 4px;
  height: 15px;
  background-color: var(--to-top-color);
  transform: translateX(-50%);
}