:root {
    --color-white: #fff;
    --color-black: #333;
    --color-blue-1: #0B2447;
    --color-blue-2: #19376D;
    --color-blue-3: #576CBC;
    --color-blue-4: #A5D7E8;
    --color-purple-1: #543864;
    --color-purple-2: #8B4367;
    --color-purple-3: #FF6464;
    --color-teal-blue: #008080;
    --color-dark-slate-gray: #2F4F4F;
    --color-orange: #E83A14;
    --color-light-orange: #FF8C32;
    --color-supreme-orange: #EA871E;
    --color-yellow: #F7DE3A;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* btn */
.my-btn {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.my-btn.my-btn-disabled {
    opacity: 0.6;
    cursor: default;
}

.my-btn.my-btn-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* to-top-btn */
.to-top-btn {
    position: fixed;
    right: 1.3rem;
    bottom: 1.6rem;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
}

.to-top-btn.active {
    display: block;
}

.to-top-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.to-top-btn::before,
.to-top-btn::after {
    --to-top-color: var(--color-supreme-orange);
    display: block;
    position: absolute;
}

.to-top-btn::before {
  content: '';
  top: 12px;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 0 solid var(--to-top-color);
  border-width: 4px 4px 0 0;
  transform: translateX(-50%) rotate(-45deg);
}

.to-top-btn::after {
  content: '';
  left: 50%;
  top: 15px;
  width: 4px;
  height: 15px;
  background-color: var(--to-top-color);
  transform: translateX(-50%);
}