:root {
    --color-white: #fff;
    --color-black: #333;
    --color-blue-1: #0B2447;
    --color-blue-2: #19376D;
    --color-blue-3: #576CBC;
    --color-blue-4: #A5D7E8;
    --color-purple-1: #543864;
    --color-purple-2: #8B4367;
    --color-purple-3: #FF6464;
    --color-teal-blue: #008080;
    --color-dark-slate-gray: #2F4F4F;
    --color-orange: #E83A14;
    --color-light-orange: #FF8C32;
    --color-supreme-orange: #EA871E;
    --color-yellow: #F7DE3A;
}

body {
    font-family: sans-serif;
}