/* Footer */
.footer {}

.footer__brand {
    width: 5rem;
}

.footer__content {
    padding: 1rem 0;
}

.footer__desc {
    padding: 1rem 0;
    color: var(--color-white);
    opacity: .6;
}

.footer__content-title {
    color: var(--color-supreme-orange);
    font-weight: 600;
}

.footer-link {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    padding: .25rem 0;
    color: var(--color-white);
    opacity: .6;
    transition: all .3s;
}

.footer-link:hover {
    opacity: 1;
    color: var(--color-white);
}

.copyright {
    color: var(--color-white);
    padding: .5rem 0;
    text-align: center;
}
