.form-container {
    --input-width: 400px;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    justify-items: center;
    padding: 1.25rem;
    max-width: 600px;
    height: auto;
    border-radius: 2px;
}

.form__heading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: var(--color-supreme-orange);
    text-shadow: 2px 2px 2px var(--color-gray), 1px 1px 1px var(--color-supreme-orange);
}

.form__sub-heading {
    font-weight: 600;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--color-supreme-orange);
    text-shadow: 2px 2px 2px var(--color-gray), 1px 1px 1px var(--color-supreme-orange);
}

.form__desc {
    font-size: 1rem;
    color: var(--color-black);
    opacity: .9;
}

.form__desc i {
    color: var(--color-supreme-orange);
    width: 2rem;
}

.form__desc>ul>li {
    padding: .3rem;
    transition: all .3s;
}

.form__desc>ul>li:hover {
    color: var(--color-supreme-orange);
}

.form__input {
    font-size: 1rem;
    padding: 0;
    color: var(--color-supreme-orange);
    border-radius: 0;
    border: 1px solid var(--color-supreme-orange);
    box-shadow: 1px 1px 1px var(--color-supreme-orange);
    border-radius: 2px;
}

.form__checkbox, 
.form__radio-selection {
    border: 1px solid var(--color-supreme-orange);
}

.form__checkbox:checked,
.form__radio-selection:checked {
    background-color: var(--color-supreme-orange);
    border: 1px solid var(--color-supreme-orange);
}

.form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    align-self: center;
    height: 3rem;
    border-radius: 2px;
}

.form__btn--submit {
    background-color: var(--color-supreme-orange);
}

.form__btn--submit:hover {
    background-color: #e99237;
    color: var(--color-white);
}

.form__btn--change {
    background-color: var(--color-white);
    border: 1px solid var(--color-supreme-orange);
    color: var(--color-supreme-orange);
    opacity: .6;
}

.form__btn--change:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-supreme-orange);
    color: var(--color-supreme-orange);
    opacity: 1;
}

.form__footer {
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__item {
    align-self: center;
}

.form__item-checkbox,
.form__item-radio {
    max-width: var(--input-width);
}

.input-group {
    position: relative;
    max-width: var(--input-width);
    margin-bottom: 1.5rem;
}

.input-group.invalid {
    margin-bottom: 2.5rem;
}

.form__message {
    position: absolute;
    display: inline-block;
    left: 0.75rem;
    top: calc(100% + 0.25rem);
    color: red;
    font-size: 0.9375rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.input-group.invalid .form__message {
    opacity: 1;
    visibility: visible;
}

.form__link {
    color: var(--color-supreme-orange);
    font-size: 1.05rem;
    font-weight: 600;
}

.form__link:hover {
    text-decoration: underline;
}

#change-password {
    
}

.form_infor{
    font-weight: lighter;
    justify-self:center;
    font-style: italic;
}



/* Responsive */

/* xs bs-breakpoint */
@media (min-width: 0px) {
    .form_infor {
        width: 100%;
    }
}

/* sm bs-breakpoint */
@media (min-width: 576px) {
    .form_infor {
        width: var(--input-width);
    }
}

/* md bs-breakpoint */
@media (min-width: 768px) {
    .form_infor {
        width: var(--input-width);
    }
}

/* lg bs-breakpoint */
@media (min-width: 992px) {
    
}

/* xl bs-breakpoint */
@media (min-width: 1200px) {

}

/* xxl bs-breakpoint */
@media (min-width: 1400px) {

}