.hidden {
    display: none !important;
}

/* Header */

.header {}

.header__content {}

.header__brand {
    display: inline-block;
    height: 3.125rem;
}

/* nav-link */

.nav-link {
    padding: 0;
    color: var(--color-white);
    font-size: 1em;
    text-transform: uppercase;
    line-height: 3.125rem;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

.nav-link:not(.nav-link--account, .nav-link--username) {
    min-width: 10rem;
}

.active-link {
    background: var(--color-supreme-orange);
}

.active-link:hover {
    color: var(--color-white);
}

.nav-link--account {
    padding: 0 .25rem;
}

.nav-link--username {
    text-transform: none;
}

.nav-link:hover:not(.active-link, .nav-link--username) {
    color: var(--color-supreme-orange);
    background-color: rgba(0, 0, 0, .2);
}

.nav-link--username:hover {
    color: var(--color-supreme-orange);
}

/* Search-form */

.search-form {
    height: 2.5rem;
    position: relative;
    width: 100%;
}

.search-form__input {
    border: 0;
    padding: 0;
    font-size: 1rem;
    width: 70%;
}

.search-form__btn {
    font-size: 1rem;
    color: var(--color-white);
}

.search-form__btn:hover {
    color: var(--color-supreme-orange);
}

.search-form__reset {
    position: absolute;
    border: 0;
    background-color: var(--color-white);
    top: 12%;
    right: calc(15% + 21px);
    height: 1.9125rem;
    border-radius: 0 0.25rem 0.25rem 0;
    opacity: .7;
    transition: all .2;
}

.search-form__reset:hover {
    opacity: .5;
}

/* Dropdown menu */

.dropdown {
    position: relative;
}

.dropdown__btn {}

.dropdown__list {
    position: absolute;
    display: none;
    padding: 0;
    z-index: 100;
}

.dropdown__list-item {
    text-align: left;
    padding: 0 2rem;
    min-width: 10rem;
    padding: 0;
}

.dropdown:hover .dropdown__list {
    display: block;
}

/* Footer */
.footer {}

.footer__brand {
    width: 5rem;
}

.footer__content {
    padding: 1rem 0;
}

.footer__desc {
    padding: 1rem 0;
    color: var(--color-white);
    opacity: .6;
}

.footer__content-title {
    color: var(--color-supreme-orange);
    font-weight: 600;
}

.footer-link {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    padding: .25rem 0;
    color: var(--color-white);
    opacity: .6;
    transition: all .3s;
}

.copyright {
    color: var(--color-white);
    padding: .5rem 0;
    text-align: center;
}

.footer-link:hover {
    opacity: 1;
    color: var(--color-white);
}